@{
    ViewBag.Title = "Using FluentMigrator with MSBuild";
}

<h2>Using FluentMigrator with MSBuild</h2>
<p>
    This application serves only as a sample for "Using FluentMigrator with MSBuild" article. Please take a look at
    Migration.msbuild file in /src.
</p>
