@{
    ViewBag.Title = "Using FluentMigrator with MSBuild";
}

<h2>Using FluentMigrator with MSBuild</h2>
<p>
    This application serves only as a sample for "Using FluentMigrator with MSBuild" article. Nothing to see here. 
</p>
<p>
    Please take a look at Migration.msbuild file in /src folder instead.
</p>
